


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body {

    margin: 0;

    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html {
    scroll-behavior: smooth;
}


.container {
    max-width: 1100px;
    margin: auto;
    height: 80vh;
}



#offers {
    background: url("offer-background.jpg") center center/cover fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0;
    position: relative;
    text-align: center;
}

#offers .offers-items-wrapper {
    overflow: hidden;
    width: 100%;
}

#offers .offers-items {
    display: flex;
    transition: transform 0.5s;
}

#offers .offer-item {
    min-width: 100%;
    box-sizing: border-box;
}




#offers .offers-items img {
    width: 200px;
    padding-top: 30px;
}

#offers h2 {
    color: #e4b95b;
}

#offers .title p {
    color: #fff;
    font-weight: 500;
}

#offers .offers-items h3 {
    font-size: 25px;
    color: #fff;
    margin: 15px 0;
}

#offers .offers-items p {
    color: #fff;
    font-size: 14px;
    padding: 0 20px;
    font-weight: 300;
    margin-bottom: 15px;
}

#offers .offers-items span {
    font-weight: 600;
    font-size: 18px;
    margin-left: 5px;
}




/* Slider navigation buttons */
#offers .prev,
#offers .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 10px;
}

#offers .prev {
    left: 10px;
}

#offers .next {
    right: 10px;
}

#offers .prev:hover,
#offers .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}




#offers .prev,
#offers .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 10px;
}

#offers .prev {
    left: 10px;
}

#offers .next {
    right: 10px;
}

#offers .prev:hover,
#offers .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: blue;
}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container2 {
    width: 80%;
    margin: 0 auto;
}

#menu {
    background: #f4f2ed;
    padding: 5rem 0;
}

#menu .title {
    text-align: center;
    margin-bottom: 20px;
}



#menu .title h2 {
    color: #383848;
    font-size: 40px;
    margin-bottom: 20px;
}

#menu .title p {
    color: #9a9a9a;
    font-weight: bold;
}

.menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.menu-item img {
    width: 80px;
    margin-right: 20px;
    border-radius: 50%;
}

.menu-item h3 {
    color: #383848;
    border-bottom: dashed 1px #c2bdbd;

    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}

.menu-item h3 span {
    position: absolute;
    right: 0;
    top: 0;

}


.section {
    background: url(offer-background.jpg) no-repeat center fixed;
}

.container3 h2 {
    text-align: center;
    font-family: "Quicksand", sans-serif;

    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
    padding-top: 135px;

}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 70px;

}

.image img {
    width: 300px;
    height: 200px;
    border-radius: 10%;
    color: #383848;
    margin: 20px;
    opacity: 0.6;
    transition: 1s;

}

.image img:hover {
    opacity: 1;
    transform: scale(1.1);
    cursor: pointer;

}




#box-image { 
display: none; 
justify-content: center; 
align-items: center; 
position: fixed; 
top: 0; 
left: 0; 
width: 100%; 
height: 100%; 
background: rgba(0, 0, 0, 0.85); 
z-index: 999; 
} 
#box-control { 
width: 70%; 
height: 70%; 
background-size: cover; 
background-position: center; 
border-radius: 10px; 
position: relative; 
} 

 
#box-control i { 
color: #fff; 
cursor: pointer; 
position: absolute; 
transition: color 0.3s; 
} 
#box-control i:hover { 
color: #e4b95b; 
} 
#close { 
top: 15px; 
right: 20px; 
} 
#prev { 
left: 15px; 
top: 50%; 
transform: translateY(-50%); 
} 
#next { 
right: 15px; 
top: 50%; 
transform: translateY(-50%); 
}
























































































.section6 h3 {
    color: #000;
}

.perent {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    padding-top: 7%;


}


.child {
    width: 50%;
}

.child h3 {
    margin: 30px 0 20px 0;
    text-transform: uppercase;
    color: #07173b;
}

.child p {
    color: gray;
    font-weight: 500;
    margin: 10px;

}

.child i {
    color: #f7c964;
}

.icons i {
    background-color: #383848;
    color: #fff;
    width: 3rem;
    height: 2.1em;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}


form input {
    margin-top: 15px;
    width: 100%;
    height: 60px;
    border: #f0f0f0;
    background-color: #dbd2d2;

}

input:focus {
    outline: none;



}

::placeholder {
    padding: 10px 0 0 20px;


}

::placeholder:focus {
    display: none;
}

input:focus,
.maseg:focus {
    color: red;
    padding-left: 20px;
}

form {
    width: 50%;
    color: #fff;
}

.maseg {

    width: 100%;
    padding-bottom: 60px;
    height: 120px;
    outline: none;
    background-color: #dbd2d2;
    margin-top: 15px;
    border: 0;

}

form button {
    background-color: #e4b95b;
    margin-top: 30px;
    padding: 12px 30px;
}